![](https://miro.medium.com/v2/resize:fit:749/1*DN0iewN5WFWgrXs5s5cLjQ.jpeg)

In [2]:
import pandas as pd

In [4]:
tit_df = pd.read_csv('https://raw.githubusercontent.com/lucchesia7/coding-temple-da-sql-day-1/main/day_1/data/titanic.csv')
tit_df.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses_Aboard,Parents/Children_Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

In [6]:
tit_df.columns = tit_df.columns.str.lower().str.replace('/','_').str.strip()

tit_df.columns

Index(['survived', 'pclass', 'name', 'sex', 'age', 'siblings_spouses_aboard',
       'parents_children_aboard', 'fare'],
      dtype='object')

In [7]:
connection = 'postgresql://wswxlbyo:FkgqQF0gFkb3bXQoXH-HA9n432CcGUTG@bubble.db.elephantsql.com/wswxlbyo'

In [8]:
tit_df.to_sql('titanic', con = connection, if_exists='replace')

887

```sql
SELECT count(name) FROM titanic;
```